@import './base.css';

a {
    text-decoration: none;
    color: var(--vt-c-base);
    font-weight: 500;
    transition: 0.5s;
}

a:hover {
    color: var(--vt-c-base-hover);
    transition: 0.5s;
}

.home-enfase {
    background: -webkit-linear-gradient(180deg, rgba(47, 40, 117, 1) 0%, rgba(198, 107, 165, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.primary-footer {
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.482);
    width: 100%;
}

.main{
    padding-bottom: 100px;
}